<div class = "row">
    <div class = "col-md-8">
        <i class= "fas fa-calendar-alt"></i>
            <%= @event[:date] %>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <h2> RSVPs </h2>
    </div>
    
    <div class = "col-md-4">
        <h3>When?</h3>
        <p><%= @event[:date] %></p>
        <h3> Where?</h3>    
        <p><%= @event[:location] %></p>
    </div>
   
    <div class = "mt-5">
        <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now</a>
    </div>
   
   
</div>



